doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        title Form Example
    body
        h1
            | Form Example for 
            a(href="//github.com/rudnitskih/mate-academy-form-lesson" target="_blank") this
            |  task
        form(action=formAction method="POST")
            div
                label
                    span Surname
                    input(type="text" name="surname")

            div
                label
                    span Given Name
                    input(type="text" name="givenname")
            button Submit
