doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        title Success
    body
        h1 💪 You created your first working HTML form 🚀
        dl
            each fieldPair in fields
                div
                    dt(style="display: inline;")= fieldPair[0] + ': '
                    dt(style="display: inline;")= fieldPair[1]
